<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<dl>
    <dt><i class='Hui-iconfont'>&#xe62e;</i>系统管理<i class='Hui-iconfont menu_dropdown-arrow'>&#xe6d5;</i></dt>
    <dd>
        <ul>
            <li><a data-href='system-base.html' data-title='代码表维护' href='/login/system/sys_code.jsp'>代码表维护</a></li>
            <li><a data-href='system-base.html' data-title='菜单管理' href='/login/system/resource.jsp'>菜单管理</a></li>
        </ul>
    </dd>
</dl>
</body>
</html>